11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer). Please insert atleast 2 books into the books table!

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. Select and print the title column from the book table in alphabetical order.

In [1]:
import zoo
zoo.hours()

Open 9-5 daily!

In [1]:
import sqlite3
import sqlalchemy

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books(
    title TEXT PRIMARY KEY,
    author TEXT,
    year INTEGER
);''')
addBook = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?);'

curs.execute(addBook, ('Sunrise on the Reaping', 'Suzanne Collins', 2025))
curs.execute(addBook, ('The Midnight Library', 'Matt Haig', 2020))

conn.commit()

curs.execute('SELECT * FROM books;')
rows = curs.fetchall()
print(rows)

conn.close

[('Sunrise on the Reaping', 'Suzanne Collins', 2025), ('The Midnight Library', 'Matt Haig', 2020)]

In [3]:
import sqlalchemy
import sqlalchemy.orm

eng = sqlalchemy.create_engine('sqlite:///books.db')

Base = sqlalchemy.orm.declarative_base()
Session = sqlalchemy.orm.sessionmaker(bind=eng)
session = Session()

class Books(Base):
    __tablename__ = 'books'
    title = sqlalchemy.Column('title', sqlalchemy.Text, primary_key=True)
    author = sqlalchemy.Column('author', sqlalchemy.Text)
    year = sqlalchemy.Column('year', sqlalchemy.Integer)
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year

    def __repr__(self):
        return "<Books({}, {}, {})>".format(self.title, self.author, self.year)

query = session.query(Books)
result = query.all()
print(result)

[<Books(Sunrise on the Reaping, Suzanne Collins, 2025)>, <Books(The Midnight Library, Matt Haig, 2020)>]